.row{
    display: flex;
    justify-content: space-around;
}

.card-light{
    background-color: #eee;
    margin: 2rem;
    max-width: 300px;
    padding: 2rem;
    box-shadow: 0 20px 30px -20px rgba(0.0.0,.4);
}

.card-dark{
    background-color: #332f2f;
    margin: 2rem;
    max-width: 300px;
    padding: 2rem;
    box-shadow: 0 20px 30px -20px rgba(0.0.0,.4);
}

img{
    width: 100%;
}

.card{
    margin: 2em;
    max-width: 300px;
    padding: 2em;
    box-shadow: 0 20px 30px -20px rgba(0.0.0,.4);
}

.card-paragraph{
    color: aqua;
}

.card_light{
    background-color: #eeec36;
}

.card_dark{
    background-color: #221f22;
}

.card p{
    opacity: .8;
}